.App {
  text-align: center;
  display: grid;
  width: 40vw;
  height: 90vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: 5% 5% 125px 125px 1fr 40%;
  grid-template-rows: 5% 50px 125px 25px 25px 25px 1fr;
}
